{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 51, "git_revision": "9ec741e851ee7f1d0a32417688af2af9070869c7", "hash": "8cfd9a2bf1b03d1f7dddcf09c1d3869b", "format-version": 4, "code-base-name": "default", "filename": "backend_api_workspace/backend_api/requirements.txt", "revision_history": [{"51": "9ec741e851ee7f1d0a32417688af2af9070869c7"}]}