{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 35, "knowledge_revision": 124, "git_revision": "239144dec67c68eae305002c26779fa097d80c9f", "hash": "2d891a4bfafe4662672bceca09a23717", "format-version": 4, "code-base-name": "default", "filename": "backend_api_workspace/backend_api/requirements.txt", "revision_history": [{"124": "239144dec67c68eae305002c26779fa097d80c9f"}]}