# Copy this to ".env" and modify as needed

DATABASE_URL=postgresql+asyncpg://admin:password@db:5432/eduportal
SECRET_KEY=your_very_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
TZ=UTC

# OpenAPI docs title, etc.
PROJECT_NAME=EduConnect Student Portal API
